.card-container {
  margin-bottom: 20px;
}

.card-container:hover {
  transform: scale(1.05);
  opacity: 0.8;
  box-shadow: -1px 10px 29px 0px rgb(238, 181, 58);
}

.title-container {
  width: 100%;
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
}

.card-img {
  height: 500px;
}

.card-title {
  font-size: 24px;
  position: absolute;
  bottom: 4%;
  width: 70%;
  text-align: left;
  margin-left: 10px;
}

.featured {
  display: grid;
  place-items: center;
  width: 75px;
  height: 25px;
  background-color: rgb(238, 181, 58);
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  position: absolute;
  left: -4%;
  bottom: 100%;
}

.rating {
  position: absolute;
  bottom: 0;
  right: inherit;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.star {
  height: 24px;
  margin-bottom: 7px;
  color: rgb(238, 181, 58)
}

@media screen and (max-width: 992px) {
  .card-img {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .card-img {
    justify-content: center;
  }
}

@media screen and (max-width: 760px) {
  .card-img {
    justify-content: center;
  }
}