.genre {
  margin-top: 20px;
  max-width: 100%;
  box-shadow: -1px 10px 29px 0px rgb(92, 91, 91);
}

.genre-title {
  color: rgb(238, 181, 58);
  text-align: center;
  font-size: 22px;
}

.genre-description {
  text-align: center;
  font-size: 18px;
}