@import "node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Arvo&display=swap);

* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

.Signin {
  font-family: 'Arvo', serif;
  font-size: 16px;
  display: block;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 5%;
  padding: 1.5%;
  background-color: black;
  color: white;
}

.signinBtn, .loginBtn {
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

.Form.Label {
  text-align:left
}

.have-account {
  padding-top: 20px;
}

.logo {
  max-width: 100%;
  text-align: center;
}

h5 {
  font-family: 'Arvo', serif;
}