* {
  box-sizing: border-box;
}

.Signin {
  display: block;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 5%;
  padding: 1.5%;
  background-color: black;
  color: white;
}

.signinBtn, .loginBtn {
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

.Form.Label {
  text-align:left
}

.have-account {
  padding-top: 20px;
}

.logo {
  margin-right: 500px;
}