* {
  box-sizing: border-box;
}

.movie-view {
  text-align: center;
  width: 90%;
  height: 98vh;
  margin: auto;
  padding: 1.5%;
  border-radius: 10px;
}

.movie-view div {
  margin-top: 1%;
}

.movie-title {
  font-size: 50px;
  margin-top: 15%;
}

.movie-body {
  text-align: center;
  font-size: 22px;
  margin: auto;
}
.movie-poster img {
  height: 600px;
  width: 400px;
  float: left;
  box-shadow: 0 0 200px rgb(22, 22, 22);
}

.link {
  color: red;
}

