* {
  box-sizing: border-box;
}

.movie-view {
  text-align: center;
  width: 90%;
  height: 98vh;
  margin: auto;
  padding: 1.5%;
  border-radius: 10px;
}

.movie-view div {
  margin-top: 1%;
}

.movie-body {
  float: left;
  font-size: 18px;
}

.movie-poster img {
  height: 600px;
  width: 400px;
  float: right;
  box-shadow: 0 0 200px rgb(22, 22, 22); 
} 

.heart {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

