@import "node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.text-center {
  background-color: #000 !important;
  color: #fff !important;
}

.heartBtn {
  color: red !important;
  background-color: #000 !important;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}