* {
  box-sizing: border-box;
}

.Login {
  display: block;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 10%;
  padding: 1.5%;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.loginBtn {
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

.RegisterBtn {
  margin-top: 15px;
  border-radius: 10px;
  width: 100px;
}

.account {
  margin-top: 20px;
}