.director-img {
  height: 300px;
  width: 200px;
}

.director-view,
.label {
  color: rgb(238, 181, 58);
  text-align: center;
}

.director-container {
  height: 520px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: -1px 10px 29px 0px rgb(231, 231, 231);
}